@model IQueryable<ProductType>
@{
    string strTitle = "Product types";
    ViewBag.Title = strTitle;
}

<div>
    <h1>@strTitle</h1>
    <div>
        <div>
            <a asp-area="Admin" asp-controller="ProductTypeItems" asp-action="Edit" asp-route-id="">Add a new product type</a>
        </div>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a asp-area="Admin" asp-controller="ProductTypeItems" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                    <td>
                        <form asp-area="Admin" asp-controller="ProductTypeItems" asp-action="Delete" asp-route-id="@item.Id">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
