@model IQueryable<PageData>
@{
    string strTitle = "Pages data";
    ViewBag.Title = strTitle;
}

<div>
    <h1>@strTitle</h1>
    <div>
        <table>
            <tr>
                <th>Id</th>
                <th>CodeWord</th>
                <th>Title</th>
                <th>Text</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CodeWord</td>
                    <td>@item.Title</td>
                    <td>@item.Text</td>
                    <td>
                        <a asp-area="Admin" asp-controller="PageData" asp-action="Edit" asp-route-codeWord="@item.CodeWord">Edit</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>