@model EmployeesIndexViewModel

<div>
    <h1>Employees</h1>
    <div>
        <h3>Search employee by name or email</h3>
        <form method="get">
            <label>Name: </label>
            <input name="name" value="@Model.FilterViewModel.SelectedName" />
            <label>Email: </label>
            <input name="email" value="@Model.FilterViewModel.SelectedEmail" />

            <input type="submit" value="Search" />
        </form>
    </div>
    <div>
        <a asp-area="User" asp-controller="EmployeeItems" asp-action="Edit" asp-route-id="">Add a new employee</a>
    </div>
    <div>
        <table class="table">
            <tr>
                <th>
                    <a asp-area=""
                       asp-controller="Employees"
                       asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.EmployeeNameSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-email="@(Model.FilterViewModel.SelectedEmail)">Name</a>
                </th>
                <th>
                    <a asp-area=""
                       asp-controller="Employees"
                       asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.EmployeeEmailSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-email="@(Model.FilterViewModel.SelectedEmail)">Email</a>
                </th>
                <th>
                    <a asp-area=""
                       asp-controller="Employees"
                       asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.EmployeePhoneNumberSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-email="@(Model.FilterViewModel.SelectedEmail)">Phone number</a>
                </th>
                <th>
                    <a asp-area=""
                       asp-controller="Employees"
                       asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.EmployeeSalarySort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-email="@(Model.FilterViewModel.SelectedEmail)">Salary</a>
                </th>
                <th>
                    <a asp-area=""
                       asp-controller="Employees"
                       asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.EmployeeBirthDateSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-email="@(Model.FilterViewModel.SelectedEmail)">Birth date</a>
                </th>
                <th>
                    <a asp-area=""
                       asp-controller="Employees"
                       asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.EmployeePositionSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-email="@(Model.FilterViewModel.SelectedEmail)">Position</a>
                </th>
                <th>
                    <a asp-area=""
                       asp-controller="Employees"
                       asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.EmployeeDateAddedSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-email="@(Model.FilterViewModel.SelectedEmail)">Date added</a>
                </th>
            </tr>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td><a asp-area="User" asp-controller="EmployeeItems" asp-action="Info" asp-route-id="@item.Id">@item.Name</a></td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Salary</td>
                    <td>@item.BirthDate</td>
                    <td>@item.Position</td>
                    <td>@item.DateAdded</td>
                </tr>
            }
        </table>
        <page-link page-model="Model.PageViewModel" page-action="Index"
                   page-url-name="@(Model.FilterViewModel.SelectedName)"
                   page-url-email="@(Model.FilterViewModel.SelectedEmail)"
                   page-url-sortOrder="@(Model.SortViewModel.Current)"></page-link>
    </div>
</div>